.photo7 {
  position: absolute;
  height: 100%;
  width: 71.83%;
  top: 0;
  left: 28.17%;
  letter-spacing: -0.01em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.union-icon14,
.union-icon15 {
  position: relative;
  width: 22.5px;
  height: 22.5px;
}
.union-icon15 {
  object-fit: contain;
}
.sample-logo7 {
  position: absolute;
  top: 14px;
  left: 80px;
  width: 122.1px;
  height: 32px;
  font-size: var(--font-size-9xl-4);
  color: var(--color-black);
  font-family: var(--font-comfortaa);
}
.features5,
.my-dashboard5,
.support5 {
  position: absolute;
  top: 21px;
  left: 892px;
  letter-spacing: -0.01em;
  font-weight: 500;
}
.my-dashboard5,
.support5 {
  left: 1008px;
}
.support5 {
  left: 1169px;
}
.button-child9 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--actionable-item);
}
.search10 {
  position: absolute;
  top: 27.5%;
  left: 26.15%;
  letter-spacing: -0.01em;
  font-weight: 500;
  display: none;
}
.button13,
.search11 {
  position: absolute;
  top: 10px;
  left: 1262px;
  width: 130px;
  height: 40px;
  color: var(--color-white);
}
.search11 {
  top: 14px;
  left: 1263px;
  font-size: var(--font-size-mid);
  letter-spacing: -0.01em;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 129px;
  height: 36px;
}
.navigation-b5 {
  position: absolute;
  top: 23px;
  left: 0;
  background-color: var(--color-white);
  width: 1440px;
  height: 77px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--actionable-item);
}
.john-doe-photography {
  position: absolute;
  top: 179px;
  left: 150px;
  font-size: var(--sub-page-h1-size);
  letter-spacing: -0.01em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1112px;
  height: 93px;
}
.sp-view-child {
  position: absolute;
  top: 150px;
  left: 45px;
  width: 15.5px;
  height: 12.4px;
  object-fit: contain;
}
.about-john-doe,
.welcome-to-john {
  position: absolute;
  top: 156px;
  left: 24px;
  letter-spacing: -0.01em;
  font-weight: 500;
  display: inline-block;
  width: 1355px;
  height: 245px;
}
.about-john-doe {
  top: 73px;
  font-weight: 600;
  width: 815px;
  height: 64px;
}
.body-g2 {
  position: absolute;
  top: 919px;
  left: 16px;
  background-color: var(--color-white);
  width: 1402px;
  height: 348px;
  overflow: hidden;
}
.sp-view-item {
  position: absolute;
  top: 1267px;
  left: 0;
  width: 1440px;
  height: 5px;
  object-fit: contain;
}
.what-we-offer1,
.with-over-a {
  margin-block-start: 0;
  margin-block-end: 18px;
  font-weight: 500;
}
.what-we-offer1 {
  font-weight: 600;
}
.event-photography {
  font-weight: 600;
  font-family: var(--sub-page-h1);
}
.capture-your-significant {
  font-weight: 500;
}
.from-family-portraits {
  font-weight: 500;
  font-family: var(--sub-page-h1);
}
.portrait-sessions-from-family {
  margin-bottom: 0;
}
.event-photography-capture-you {
  margin: 0;
  font-size: inherit;
  padding-left: 47px;
}
.with-over-a-container {
  position: absolute;
  top: 21px;
  left: 29px;
  letter-spacing: -0.01em;
  display: inline-block;
  width: 1341px;
  height: 641px;
}
.pricing-information {
  font-weight: 600;
}
.availability-14th-container,
.pricing-information-price-container {
  position: absolute;
  top: 697px;
  left: 29px;
  letter-spacing: -0.01em;
  display: inline-block;
  width: 1171px;
  height: 79px;
}
.availability-14th-container {
  top: 797px;
  width: 1026px;
  height: 73px;
}
.body-g3,
.sp-view-inner {
  position: absolute;
  background-color: var(--color-white);
}
.body-g3 {
  top: 1303px;
  left: 16px;
  width: 1424px;
  height: 891px;
  overflow: hidden;
}
.sp-view-inner {
  top: 2173px;
  left: 22px;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-gray-500);
  box-sizing: border-box;
  width: 1364px;
  height: 470px;
}
.claire-mcmicheal,
.nemo-enim-ipsam3,
.reviews {
  position: absolute;
  letter-spacing: -0.01em;
  display: inline-block;
}
.reviews {
  top: 2194px;
  left: 64px;
  font-weight: 600;
  width: 315px;
  height: 59px;
}
.claire-mcmicheal,
.nemo-enim-ipsam3 {
  top: 0;
  left: 0;
  line-height: 36px;
  width: 575px;
  height: 28.4px;
}
.nemo-enim-ipsam3 {
  top: 74.1px;
  font-size: var(--body-p-size);
  line-height: 30px;
  color: var(--color-gray-500);
  height: 79.6px;
}
.group-child15,
.group4,
.learn-more1 {
  position: absolute;
  top: 153.7px;
  left: 0;
  width: 575px;
  height: 23.7px;
}
.group-child15,
.group4 {
  top: 33.8px;
  width: 137px;
  height: 23.8px;
}
.group4 {
  top: 2439.6px;
  left: 91px;
  width: 575px;
  height: 177.4px;
  font-size: var(--body-h4-size);
}
.jordan-woods,
.nemo-enim-ipsam4 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: -0.01em;
  line-height: 36px;
  display: inline-block;
  width: 529px;
  height: 36px;
}
.nemo-enim-ipsam4 {
  top: 78px;
  font-size: var(--body-p-size);
  line-height: 30px;
  color: var(--color-gray-500);
  height: 90px;
}
.group5,
.sp-view-child1 {
  position: absolute;
  left: 788px;
}
.group5 {
  top: 2442px;
  width: 529px;
  height: 168px;
  font-size: var(--body-h4-size);
}
.sp-view-child1 {
  top: 2478px;
  width: 137px;
  height: 26px;
}
.search12 {
  position: absolute;
  top: 31.05%;
  left: 20.42%;
  letter-spacing: -0.01em;
  font-weight: 600;
}
.button14 {
  position: absolute;
  top: 2702px;
  left: 22px;
  width: 191px;
  height: 57px;
  text-align: center;
  font-size: var(--font-size-mid);
  color: var(--color-white);
}
.button-child11 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-white);
  border: 1px solid var(--actionable-item);
  box-sizing: border-box;
}
.log-in2 {
  position: absolute;
  top: 31.05%;
  left: 14.5%;
  letter-spacing: -0.01em;
  font-weight: 600;
}
.button15 {
  position: absolute;
  top: 2702px;
  left: 1195px;
  width: 191px;
  height: 57px;
  text-align: center;
  font-size: var(--font-size-mid);
  color: var(--actionable-item);
}
.button-child12 {
  text-decoration: none;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--actionable-item);
}
.button16 {
  position: absolute;
  top: 197px;
  left: 1232px;
  width: 191px;
  height: 57px;
  text-align: center;
  font-size: var(--font-size-mid);
  color: var(--color-white);
}
.photo-inc-20242 {
  position: absolute;
  top: 335px;
  left: 80px;
  letter-spacing: -0.01em;
  line-height: 24px;
  display: inline-block;
  width: 363px;
  height: 24px;
}
.community2,
.company2,
.featured-events-promotions-container2,
.follow-us2 {
  position: absolute;
  left: 874px;
  letter-spacing: -0.01em;
  line-height: 24px;
  display: inline-block;
}
.follow-us2 {
  top: 335px;
  text-align: right;
  width: 300px;
  height: 24px;
}
.community2,
.company2,
.featured-events-promotions-container2 {
  width: 173px;
}
.community2 {
  top: 120px;
  color: var(--color-black);
  height: 24px;
}
.company2,
.featured-events-promotions-container2 {
  top: 160px;
  height: 72px;
}
.company2 {
  top: 120px;
  left: 1031px;
  color: var(--color-black);
  height: 24px;
}
.faqs {
  margin: 0;
}
.about-us-contact-container2 {
  position: absolute;
  top: 160px;
  left: 1031px;
  letter-spacing: -0.01em;
  line-height: 24px;
  display: inline-block;
  width: 173px;
  height: 102px;
}
.sample-logo8 {
  position: absolute;
  top: 120px;
  left: 80px;
  width: 122.1px;
  height: 32px;
  text-align: center;
  font-size: var(--font-size-9xl-4);
  color: var(--color-black);
  font-family: var(--font-comfortaa);
}
.register7 {
  position: absolute;
  top: 27.5%;
  left: 26.15%;
  letter-spacing: -0.01em;
  font-weight: 500;
}
.button17 {
  position: absolute;
  top: 120px;
  left: 1225px;
  width: 130px;
  height: 40px;
  text-align: center;
  color: var(--color-white);
}
.log-in3 {
  position: absolute;
  top: 27.5%;
  left: 32.31%;
  letter-spacing: -0.01em;
  font-weight: 500;
}
.button18 {
  position: absolute;
  top: 176px;
  left: 1225px;
  width: 130px;
  height: 40px;
  text-align: center;
  color: var(--actionable-item);
}
.rectangle4 {
  position: absolute;
  top: 299px;
  left: 80px;
  background-color: var(--color-gray-400);
  width: 1317px;
  height: 6px;
}
.ellipse-icon6,
.ellipse-icon7,
.ellipse-icon8,
.footer-a2 {
  position: absolute;
  top: 325px;
  left: 1296px;
  width: 44px;
  height: 44px;
}
.ellipse-icon7,
.ellipse-icon8,
.footer-a2 {
  left: 1244px;
}
.ellipse-icon8,
.footer-a2 {
  left: 1191px;
}
.footer-a2 {
  top: 2831px;
  left: 0;
  background-color: var(--color-white);
  width: 1409px;
  height: 382px;
  overflow: hidden;
  font-size: var(--font-size-mini);
  color: var(--color-gray-500);
}
.img-4766-icon1,
.img-4766-icon2,
.img-4770-1-icon {
  position: absolute;
  top: 289px;
  left: 40px;
  width: 1351px;
  height: 630px;
  object-fit: cover;
}
.img-4766-icon1,
.img-4766-icon2 {
  top: 2290px;
  left: 83px;
  width: 189px;
  height: 135px;
}
.img-4766-icon2 {
  left: 788px;
}
.sp-view {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 3213px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-16xl);
  color: var(--color-black);
  font-family: var(--sub-page-h1);
}
